# .env.example
VITE_FIREBASE_VAPID_KEY=BJq2QbMlGOeSnuz94cUiQ-kqj6DqXGyIEa968-nBPmmPZ2V7Y_USSAhDodiPSiSwyWl-v8y8fP75byiWFgmFtlo
FIREBASE_SERVICE_ACCOUNT=
VITE_SUPABASE_URL=https://ydkicdhcylpdffuzgdvm.supabase.co
VITE_SUPABASE_ANON_KEY=
