# .env.example
VITE_FIREBASE_VAPID_KEY=BPeext5m41k5huwpZYzaaxvzz4vJjEdh7ZSy6zDXemZENhgEEVtsTxv1wEBwnkF02PefYOw1hArICTEzO4Ab2wg
VITE_SUPABASE_URL=https://ydkicdhcylpdffuzgdvm.supabase.co
VITE_SUPABASE_ANON_KEY=
