# .env.example
VITE_FIREBASE_VAPID_KEY=BAwxNENrQumeZKV97HVoBkQvB8b4USCMBRVACIVBtLGDSYWll-6F_8wFwN6dhpcbMdh-tNwmdGKWa7FuRjbzCtg
VITE_SUPABASE_URL=https://ydkicdhcylpdffuzgdvm.supabase.co
VITE_SUPABASE_ANON_KEY=
